.courses {
    background-color: #f8f9fa;
    padding: 2rem;
  }
  
  .courses-title {
    text-align: center;
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  
  .courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
  }
  
  .course-card {
    width: calc(25% - 1rem);
    background-color: #fff;
    padding: 2rem;
    padding-bottom: 0rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .course-card h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .course-description {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: justify;
  }

  .course-level {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .course-card:hover {
    border: 1px solid black;
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
  
  .course-card img {
    width: 50%;
    max-height: 50%; 
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
  }
  
  .bookmark-icon {
    display: inline-block;
    font-size: 1.5rem;
    color: gold;
    cursor: pointer;
  }

  .level-1 {
    color: green;
  }
  
  .level-2 {
    color: blue;
  }
  
  .level-3 {
    color: red;
  }
  
  .level-4 {
    color: rgb(98, 17, 17);
  }
  
  .level-5 {
    color: rgb(10, 1, 1);
  }